<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}
    <!-- Main Header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- Left Side Div -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/program1.jpg" alt="rmpages" clss="img-fluid" title="Weather App">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p> Welcome to My Digital world </p>
                        <h1> I am a <span class="text_color"> Learner </span> in Programming Filed</h1>
                        <a href="https://www.facebook.com/"><button>About Me </button></a>
                    </div>
                    <!-- Right Side Div -->
                    <!-- <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="weather1.jpg" alt="rmpages" clss="img-fluid" title="Weather App">
                        </figure>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <!-- For Footer Part -->
    {{>footer}}
</body>

</html>